* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main-color: #10cab7;
    --section-padding: 60px
}

body {
    font-family: "Work Sans", sans-serif;
}

.continar {
    padding-left: 18px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* Small Screens */

@media (min-width: 768px) and (max-width: 991px) {
    .continar {
        width: 750px;
    }
}

/* Medium Screens */

@media (min-width: 992px) {
    .continar {
        width: 750px;
    }
}


/* Large Screens */

@media (min-width: 1200px) {
    .continar {
        width: 1170px;
    }
}

.header {
    padding: 20px;
}



.header .continar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
}

.header .link {
    position: relative;
}

.header .link:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .link .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .link .icon span {
    background-color: black;
    margin-bottom: 5px;
    height: 2px;
}

.header .link .icon span:first-child {
    width: 100%;
}

.header .link .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}

.header .link .icon span:last-child {
    width: 100%;
}

.header .link ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}


.header .link:hover ul {
    display: block;
}

.header .link ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .link ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: var(--main-duration);
}

.header .link ul li a:hover {
    padding-left: 25px;
}

.header .link ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

.landing {
    background-image: url(../img/pexels-photo-300857.jpeg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;

}

.landing .intro {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.landing .intro h1 {
    margin: 0;
    color: #10cab7;
    font-size: 50px;
    font-weight: bold;

}

.landing .intro p {
    line-height: 21.8px;
    font-size: 19px;
    text-align: center;
    color: black;

}

.features {
    color: #000;
    background-color: #00169229;
    padding-top: 60px;
    padding-bottom: 60px;
}

.features .continar {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat i {
    color: black;
    font-size: 333%;
}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0px;
    color: #10cab7;
}

.features .feat p {
    line-height: 1.7;
    font-size: 19px;
}

.servs {
    color: #1310ca;
    font-size: 50px;
    text-align: center;
    font-weight: 800;
    margin: 0;
}

.servs+p {
    margin: 4px 0 0;
    text-align: center;
    font-size: 19px;
}

.serv {

    background-image: url(../img/pexels-photo-270739.jpeg);
    height: calc(160vh - 64px);

    background-size: cover;
    position: relative;
}

.serv .temple {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
    margin-left: 253px;

}

.serv .temple .srv {
    display: flex;
    margin-bottom: 40px;
}

.serv .temple .srv i {
    color: #102cca;
    flex-basis: 60px;

}

.serv .temple .srv .text {
    flex: 1;
}

.serv .temple .srv .text h3 {
    margin: 0 0 20px;
}

.serv .temple .srv .text p {
    line-height: 1.7;
    font-size: 19px;
    text-align: left;
    color: rgb(0, 0, 0);

}

.Porto {
    background-color: whitesmoke;
    margin-top: 40px;
}


.Porto .Port p {
    margin: 4px 0 0;
    text-align: center;
    font-size: 19px;
    color: #333;
}

.Porto .Port h2 {
    color: #10cab7;
    font-size: 50px;
    text-align: center;
    font-weight: 800;
    margin: 0;
}

.Port .Port1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;

}

.Port .Port1 image {
    max-width: 100%;
}

.about {
    background-color: #7cbfcb00;
    margin-top: 40px;

}

.about .aboutc h2 {
    color: skyblue;
    font-size: 50px;
    text-align: center;
    font-weight: 800;
    margin: 0;
}

.about .aboutc p {
    margin: 4px 0 0;
    text-align: center;
    font-size: 19px;
    color: #333;
}

.aboutc1 {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.aboutc1 .image1 {
    position: relative;
    margin-left: 32px;



}

.aboutc1 .law {
    flex-basis: calc(100% - 299px);
    margin-top: 30px;
}

.about .aboutc .aboutc1 .law p {
    color: black;
    font-weight: bold;
}

.about .aboutc .aboutc1 .law hr {
    width: 100%;
    display: inline-block;
    border-color: #1A237E;
    ;
}

.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: rgb(165, 209, 227);
}

.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}

.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}

.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}

.contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
}

.container h2 {
    color: #10cab7;
    font-size: 50px;
    text-align: center;
    font-weight: 800;
    margin: 0;
}

.container p {
    margin: 4px 0 0;
    text-align: center;
    font-size: 19px;
    color: #333;
}

.footer {
    background-color: black;
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}

.footer span {
    font-weight: bold;
    color: var(--main-color);
}

.html {
    scroll-behavior: smooth;
}